*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
 /* css chung */
.backGround_black{
 background-color: black;
}
.textColor_white{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}

.btn{
    padding: 12px 24px ;
    color: white;
    background-color: black;
}

.btn:hover{
    background-color: #ddd;
}

.btn:hover a{
    color: black;
}

.section{
    margin: auto;
    padding: 64px 16px;
    width: 800px;
}

.section_heading{
letter-spacing: 4px;
font-weight: 400;
font-size: 30px;
text-align: center;
margin: 10px 0px;
}

.sub_section_heading{
 text-align: center;
 font-style: italic;
 opacity: 0.6;
 font-weight: 200;
 /* font-size: 15px; */
}


/* css từng phần */

/* phần heading */
#heading{
    position: fixed;
    width: 100%;
    height: 46.5px;
    top: 0;
    z-index: 1;
}

#heading .navigation{
    display: inline-block; 
}

#heading .more{
    display: inline;
    position: absolute;
}

#heading .more_down:hover{
    color: black;
}

#heading .menu_dropDown{
    display: none;
}

#heading .more:hover .menu_dropDown{
    display: block;
    box-shadow: 3px 3px 3px black;
}

#heading .dropDown_item{
    display: block;
    width: 150px;
    background-color: white;
}

#heading .dropDown_item:hover{
 background-color: #ddd;    
}

#heading .dropDown_item a{
    color: black;
}

#heading .search{
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 12px 24px;
}

#heading .search:hover{
 background-color: red;
}

/* phần slider */

#slider{
    margin-top: 47px;
}

#slider .slider{
    position: relative;
    width: 100%;
    background-color: black;
}

#slider img{
width: 100%;
}

#slider .textSlider{
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 32px 16px;
}

#slider .textSlider h2{
margin: 10px 0px; 
font-size: 24px;
font-weight: 400;
}

#slider .textSlider h3{
 font-size: 15px;
 font-weight: 700px;   
}

/* phần the band */
#band .para_intro{
    margin: 15px 0px;
    text-align: justify;
}

#band .member{
    display: flex;
    text-align: center;
    padding: 32px;
    justify-content: space-around;
    
}
#band .box_member{
    display: inline-block;
}

#band .member_name{
    margin: 15px 0px;
}

#band .member_img{
 width: 153.578px;
 margin-bottom: 16px;
}

/* resposion */

