*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 /* css chung */
.backGround_black{
 background-color: black;
}
.textColor_white{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}

.btn{
    padding: 15px;
    color: white;
}

.btn:hover{
    background-color: antiquewhite;
}

.btn:hover a{
    color: black;
}


/* css từng phần */
#heading{
    position: fixed;
    width: 100%;
    height: 46px;
}

#heading .navigation{
    display: inline-block;   
}

#heading .search{
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 15px;


}

#heading .menu_dropDown{
    position: absolute;
    /* display: none; */
    padding: 15px;
    color: black;
}


/* resposion */

